@import "../../../index.scss";

.TextMessagePcs {
  margin-left: 10px;
  padding: 0 6px;
  color: white;
  background-color: #e91e63;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-radius: 8px;
  @extend %text10;
}
