@import "../../../index.scss";

.BulletedList {
  margin: 0;
  padding: 0;
  list-style: none;

  &-li {
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      left: -40px;
      content: "";
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      border: 2px solid $colorPrimary;
      border-radius: 3px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
