@import "../../../index.scss";

.wrapper {
  position: relative;

  &:hover {
    .top,
    .bottom {
      opacity: 0.9;
      visibility: visible;
    }
  }

  // Общие стили для всех положений
  .top,
  .bottom {
    position: absolute;
    width: max-content;
    padding: 10px 15px;

    border-radius: 5px;
    background-color: $colorText;
    transform: translateX(-50%);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s ease-in-out;
    transition-delay: 0.2s;
    z-index: 4;

    &::after {
      content: "";
      position: absolute; /* Абсолютное позиционирование */
      border: 8px solid transparent; /* Прозрачные границы */
      border-bottom: 14px solid $colorText; /* Добавляем треугольник */
    }

    .text {
      color: white;
    }
  }

  .top {
    top: -56px;
    left: 35%;

    &::after {
      content: "";
      left: calc(50% - 10px);
      transform: rotate(-60deg); /* Положение треугольника */
      top: 29px; /* Положение треугольника */
    }
  }

  .bottom {
    top: 38px;
    left: 35%;

    &::after {
      content: "";
      left: calc(50% - 5px);
      transform: rotate(0deg); /* Положение треугольника */
      top: -20px; /* Положение треугольника */
    }
  }
}
