.Permission {
  display: flex;
  align-items: center;

  &-icon {
    width: 14px;
    margin-right: 26px;
  }

  &-checkbox{
    margin-right: 20px;
  }

  &-text {

    .P14 {
      margin-top: 5px;
    }
  }
}
