@import "../../../../index.scss";

.old_price {
  position: relative;
  color: $colorGrey;
  width: max-content;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: rgba(173, 173, 173, 0.45);
    width: 100%;
    top: 50%;
    left: 0;
  }
}
