@import "../../../index.scss";

.RoundInformativeIcon {
  width: 16px;
  height: 16px;
  position: relative;
  &:hover {
    .RoundInformativeIcon-body-bottom {
      opacity: 0.9;
      visibility: visible;
    }
    .RoundInformativeIcon-body-left {
      opacity: 0.9;
      visibility: visible;
    }
    .RoundInformativeIcon-body-right {
      opacity: 0.9;
      visibility: visible;
    }
    .RoundInformativeIcon-body-top {
      opacity: 0.9;
      visibility: visible;
    }
    .RoundInformativeIcon-icon {
      path {
        stroke: $colorPrimary;
      }
    }
  }
  &-body-text {
    color: white;
    @extend %text12;
  }
  &-icon {
    cursor: pointer;
    path {
      transition-delay: 0.2s;
      transition: stroke 0.1s ease-in-out;
    }
  }
  &-body-bottom {
    background-color: $colorText;
    padding: 10px 15px;
    position: absolute;
    top: calc(100% + 20px);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s ease-in-out;
    transition-delay: 0.2s;
    z-index: 6;
    &::after {
      content: "";
      position: absolute; /* Абсолютное позиционирование */
      left: 50%;
      transform: translateX(-50%);
      top: -20px; /* Положение треугольника */
      border: 8px solid transparent; /* Прозрачные границы */
      border-bottom: 14px solid $colorText; /* Добавляем треугольник */
    }
  }
  &-body-right {
    background-color: $colorText;
    padding: 10px 15px;
    position: absolute;
    top: calc(100% + -38px);
    border-radius: 5px;
    left: calc(100% + 170px);
    transform: translateX(-50%);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s ease-in-out;
    transition-delay: 0.2s;
    z-index: 6;

    &::after {
      content: "";
      position: absolute; /* Абсолютное позиционирование */
      transform: rotate(-90deg); /* Положение треугольника */
      top: 34%; /* Положение треугольника */
      left: -18px; /* Положение треугольника */
      border: 8px solid transparent; /* Прозрачные границы */
      border-bottom: 14px solid $colorText; /* Добавляем треугольник */
    }
  }
  &-body-left {
    background-color: $colorText;
    padding: 10px 15px;
    position: absolute;
    top: calc(100% + -38px);
    border-radius: 5px;
    left: calc(100% + -184px);
    transform: translateX(-50%);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s ease-in-out;
    transition-delay: 0.2s;
    z-index: 6;

    &::after {
      content: "";
      position: absolute; /* Абсолютное позиционирование */
      transform: rotate(-150deg); /* Положение треугольника */
      top: 45%; /* Положение треугольника */
      left: 298px; /* Положение треугольника */
      border: 8px solid transparent; /* Прозрачные границы */
      border-bottom: 14px solid $colorText; /* Добавляем треугольник */
    }
  }
  &-body-top {
    background-color: $colorText;
    padding: 10px 15px;
    position: absolute;
    top: calc(100% + -135px);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s ease-in-out;
    transition-delay: 0.2s;
    z-index: 6;

    &::after {
      content: "";
      position: absolute; /* Абсолютное позиционирование */
      left: 46%;
      transform: rotate(-60deg); /* Положение треугольника */
      top: 92px; /* Положение треугольника */
      border: 8px solid transparent; /* Прозрачные границы */
      border-bottom: 14px solid $colorText; /* Добавляем треугольник */
    }
  }
}
