@import "../../../index.scss";

.ShowMore {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 8px;
  outline: none;
  cursor: pointer;

  span {
    color: $colorPrimary;
    margin-right: 5px;
    border-bottom: 1px dashed #2991f5;
  }
}
